.film-card {
  background-color: rgba(32, 40, 62, 0.8);
  padding: 10px;
  border-radius: 12px;
}
.film-card__pic {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 24px;
  border-radius: 8px;
  position: relative;
  z-index: 0;
}
.film-card__rating {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.15333 2.34L10.3267 4.68667C10.4867 5.01334 10.9133 5.32667 11.2733 5.38667L13.4 5.74C14.76 5.96667 15.08 6.95334 14.1 7.92667L12.4467 9.58C12.1667 9.86 12.0133 10.4 12.1 10.7867L12.5733 12.8333C12.9467 14.4533 12.0867 15.08 10.6533 14.2333L8.66 13.0533C8.3 12.84 7.70667 12.84 7.34 13.0533L5.34667 14.2333C3.92 15.08 3.05333 14.4467 3.42667 12.8333L3.9 10.7867C3.98667 10.4 3.83333 9.86 3.55333 9.58L1.9 7.92667C0.926667 6.95334 1.24 5.96667 2.6 5.74L4.72667 5.38667C5.08 5.32667 5.50667 5.01334 5.66667 4.68667L6.84 2.34C7.48 1.06667 8.52 1.06667 9.15333 2.34Z' stroke='%23FFAD49' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  color: #FFAD49;
  padding: 10px 10px 10px 32px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 8px;
}
.film-card__content {
  padding: 10px;
}
.film-card__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--white);
  margin-bottom: 16px;
}
.film-card__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-400);
  border: none;
}
