.header {
  background-color: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(40px);
  margin-bottom: 50px;
  height: 80px;
}
.header__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}