header {
  background-color: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(40px);
  margin-bottom: 50px;
  height: 80px;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}