.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 64px;
}
.nav ul li {
  display: flex;
}
.nav ul li a,
.nav ul li div,
.nav ul li button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2%;
  color: var(--gray-200);
  text-decoration: none;
}
.nav ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav ul li a:hover,
.nav ul li button:hover,
.nav ul li a:global(.active) {
  color: var(--white);
}
.nav__count {
  background-color: var(--primary-400);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--white);
  border-radius: 50%;
}