.nav ul {
  list-style: none;
  display: flex;
  gap: 64px;
}
.nav ul li a {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2%;
  color: var(--gray-200);
  text-decoration: none;
}
.nav ul li a:hover,
.nav ul li a.active {
  color: var(--white);
}